<div id="<%= dom_id factura %>">
  <p>
    <strong>Pedido:</strong>
    <%= factura.pedido_id %>
  </p>

  <p>
    <strong>Monto:</strong>
    <%= factura.monto %>
  </p>

  <p>
    <strong>Fecha pago:</strong>
    <%= factura.fecha_pago %>
  </p>

</div>
